{% extends "system/base.html" %}

{% block content %}
    {% if user.is_authenticated %}
        <h1>{{ task.task_name }}</h1>
        <br/>
        <h2>{{ question.question_name }}</h2>


        <form action="/system/results/" method="POST">
            {% csrf_token %}
            {% for choice in question.choice_set.all %}
                <input type="radio" value="{{ choice.id }}" name="choice" id="choice{{ forloop.counter }}"/>
                <label for="choice{{ forloop.counter }}">{{ choice.choice_name }}</label>
                <br/>
            {% endfor %}
            <br/>
            <input type="submit" value="Submit">
        </form>
    {% else %}
        <p>Login to see more</p>
    {% endif %}
{% endblock %}